/* Go-Top Button */
#go-top {

  align-items: center;
  justify-content: center;
  display: none;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 1rem;
  margin-bottom: 10px;
  z-index: 150;
  cursor: pointer;
  background-size: contain;
  color: $color-white;
  text-align: center;
  white-space: nowrap;
  &.fadeIn {
    display: none !important;
  }
  a{
    display: none !important;
  }
  @include tablet-md {
    a{
      display: inline-flex !important;
    }
    &.fadeIn {
      display: flex;
    }
  }


}
