table.table {
  tr {
    width: 100%;
    display: inline-table;
    margin: 0.5rem 0;

    td {
      background-color: white;
      font-weight: 500;
      padding: 0.8rem;
      border: none;
    }
  }
}

table.table-responsive-cms-style-1 {
  width: calc(100% - 4rem) !important;
  margin: 0 2rem;

  @include phone-sm {
    width: 100% !important;
    margin: 0;
  }

  tr {
    td {
      padding: 0.8rem 0;
      border-bottom: 1px solid $color-very-light;
    }

    td:first-child {
      @include phone-sm {
        width: 70% !important;
      }
    }
  }
}


table.table.restaurant-menu {
  margin-top: 3rem;

  tr {
    border: 1px solid var(--color-primary);

    td{
      background-color: transparentize(white,0.5);
    }
    td:last-child {
      text-align: right;
      color: var(--color-primary);
      font-size: 1.2rem;
    }
  }
}
