.idea
/log/*
/cache/*
/web/uploads/files/images/*
/web/uploads/.quarantine/*
/data/sql/*.sql
/data/db/*
/bower_components/
/node_modules/

plugins/.registry/*
web/crop-avatar/img/*
web/js/admin/elFinder/files/.quarantine/*
tmp
web/images/
web/favicon/
lib/form/doctrine/base
lib/model/doctrine/base
lib/filter/doctrine/base
plugins
!/web/css/admin/*
!/web/js/admin/*
!/web/images/common
!/web/.htaccess
!/web/frontend_dev.php
!/web/index.php
!/web/robots.txt
/web/scss/.sass-cache
/cache/
composer.phar
/data/db/
/data/sql/
/vendor
/plugins

/web/css/vendor/animate.min.css
/web/css/app.min.css
/web/css/vendor/blueimp-gallery.min.css
/web/css/vendor/blueimp-gallery-indicator.min.css
/web/js/lib/bootstrap.bundle.min.js
/web/css/vendor/bootstrap.min.css
/web/js/lib/bootstrap.min.js
/web/css/vendor/bootstrap-datetimepicker.min.css
/web/js/lib/bootstrap-datetimepicker.min.js
/plugins/sfDoctrineGuardPlugin/modules/sfGuardForgotPassword/templates/changeSuccess.php
/plugins/sfDoctrineGuardPlugin/modules/sfGuardAuth/actions/components.class.php
/plugins/sfDoctrineGuardPlugin/modules/sfGuardRegister/actions/components.class.php
/plugins/sfDoctrineGuardPlugin/composer.json
/web/js/lib/daterangepicker.min.js
/plugins/sfDoctrineGuardPlugin/data/fixtures/fixtures.yml.sample
/web/js/lib/freewall.js
/web/css/vendor/iframe-lightbox.css
/web/js/lib/iframe-lightbox.js
/plugins/sfDoctrineGuardPlugin/modules/sfGuardForgotPassword/templates/indexSuccess.php
/plugins/sfDoctrineGuardPlugin/modules/sfGuardRegister/templates/indexSuccess.php
/web/js/lib/isotope.pkgd.min.js
/web/js/lib/jarallax.min.js
/web/js/lib/jarallax-video.min.js
/web/js/lib/jquery.blueimp-gallery.min.js
/web/js/lib/jquery.countTo.js
/web/js/lib/jquery.matchHeight-min.js
/web/js/lib/jquery.sticky.min.js
/web/js/lib/jquery.superslides.min.js
/web/js/lib/jquery.unveil.min.js
/web/js/lib/jquery.waypoints.js
/web/js/lib/jquery-1.12.4.min.js
/web/js/lib/jquery-3.5.1.min.js
/web/js/lib/lazysizes.min.js
/plugins/sfDoctrineGuardPlugin/LICENSE
/web/css/vendor/owl.carousel.min.css
/web/js/lib/owl.carousel.min.js
/package-lock.json
/plugins/sfDoctrineGuardPlugin/lib/model/doctrine/PluginsfGuardForgotPassword.class.php
/plugins/sfDoctrineGuardPlugin/lib/model/doctrine/PluginsfGuardForgotPasswordTable.class.php
/plugins/sfDoctrineGuardPlugin/lib/model/doctrine/PluginsfGuardGroup.class.php
/plugins/sfDoctrineGuardPlugin/lib/form/doctrine/PluginsfGuardGroupForm.class.php
/plugins/sfDoctrineGuardPlugin/lib/filter/doctrine/PluginsfGuardGroupFormFilter.class.php
/plugins/sfDoctrineGuardPlugin/test/unit/form/doctrine/PluginsfGuardGroupFormTest.php
/plugins/sfDoctrineGuardPlugin/lib/model/doctrine/PluginsfGuardGroupPermission.class.php
/plugins/sfDoctrineGuardPlugin/lib/model/doctrine/PluginsfGuardGroupPermissionTable.class.php
/plugins/sfDoctrineGuardPlugin/lib/model/doctrine/PluginsfGuardGroupTable.class.php
/plugins/sfDoctrineGuardPlugin/lib/model/doctrine/PluginsfGuardPermission.class.php
/plugins/sfDoctrineGuardPlugin/lib/form/doctrine/PluginsfGuardPermissionForm.class.php
/plugins/sfDoctrineGuardPlugin/lib/filter/doctrine/PluginsfGuardPermissionFormFilter.class.php
/plugins/sfDoctrineGuardPlugin/test/unit/form/doctrine/PluginsfGuardPermissionFormTest.php
/plugins/sfDoctrineGuardPlugin/lib/model/doctrine/PluginsfGuardPermissionTable.class.php
/plugins/sfDoctrineGuardPlugin/lib/model/doctrine/PluginsfGuardRememberKey.class.php
/plugins/sfDoctrineGuardPlugin/lib/model/doctrine/PluginsfGuardRememberKeyTable.class.php
/plugins/sfDoctrineGuardPlugin/lib/model/doctrine/PluginsfGuardUser.class.php
/plugins/sfDoctrineGuardPlugin/lib/form/doctrine/PluginsfGuardUserForm.class.php
/plugins/sfDoctrineGuardPlugin/lib/filter/doctrine/PluginsfGuardUserFormFilter.class.php
/plugins/sfDoctrineGuardPlugin/test/unit/form/doctrine/PluginsfGuardUserFormTest.php
/plugins/sfDoctrineGuardPlugin/lib/model/doctrine/PluginsfGuardUserGroup.class.php
/plugins/sfDoctrineGuardPlugin/lib/model/doctrine/PluginsfGuardUserGroupTable.class.php
/plugins/sfDoctrineGuardPlugin/lib/model/doctrine/PluginsfGuardUserPermission.class.php
/plugins/sfDoctrineGuardPlugin/lib/model/doctrine/PluginsfGuardUserPermissionTable.class.php
/plugins/sfDoctrineGuardPlugin/lib/model/doctrine/PluginsfGuardUserTable.class.php
/plugins/sfDoctrineGuardPlugin/test/unit/model/doctrine/PluginsfGuardUserTableTest.php
/plugins/sfDoctrineGuardPlugin/test/unit/model/doctrine/PluginsfGuardUserTest.php
/web/js/lib/popper.min.js
/plugins/sfDoctrineGuardPlugin/README.md
/plugins/sfDoctrineGuardPlugin/config/doctrine/schema.yml
/plugins/sfDoctrineGuardPlugin/modules/sfGuardAuth/templates/secureSuccess.php
/plugins/sfDoctrineGuardPlugin/modules/sfGuardAuth/config/security.yml
/plugins/sfDoctrineGuardPlugin/i18n/sf_guard.de.xml
/plugins/sfDoctrineGuardPlugin/i18n/sf_guard.es.xml
/plugins/sfDoctrineGuardPlugin/i18n/sf_guard.fa.xml
/plugins/sfDoctrineGuardPlugin/i18n/sf_guard.fr.xml
/plugins/sfDoctrineGuardPlugin/i18n/sf_guard.it.xml
/plugins/sfDoctrineGuardPlugin/i18n/sf_guard.pl.xml
/plugins/sfDoctrineGuardPlugin/i18n/sf_guard.ru.xml
/plugins/sfDoctrineGuardPlugin/config/sfDoctrineGuardPluginConfiguration.class.php
/plugins/sfDoctrineGuardPlugin/lib/task/sfGuardAddGroupTask.class.php
/plugins/sfDoctrineGuardPlugin/lib/task/sfGuardAddPermissionTask.class.php
/plugins/sfDoctrineGuardPlugin/lib/sfGuardBasicSecurityFilter.class.php
/plugins/sfDoctrineGuardPlugin/lib/task/sfGuardChangePasswordTask.class.php
/plugins/sfDoctrineGuardPlugin/lib/form/doctrine/sfGuardChangeUserPasswordForm.class.php
/plugins/sfDoctrineGuardPlugin/lib/task/sfGuardCreateUserTask.class.php
/plugins/sfDoctrineGuardPlugin/lib/form/sfGuardFormSignin.class.php
/plugins/sfDoctrineGuardPlugin/modules/sfGuardGroup/lib/sfGuardGroupGeneratorConfiguration.class.php
/plugins/sfDoctrineGuardPlugin/modules/sfGuardGroup/lib/sfGuardGroupGeneratorHelper.class.php
/plugins/sfDoctrineGuardPlugin/modules/sfGuardPermission/lib/sfGuardPermissionGeneratorConfiguration.class.php
/plugins/sfDoctrineGuardPlugin/modules/sfGuardPermission/lib/sfGuardPermissionGeneratorHelper.class.php
/plugins/sfDoctrineGuardPlugin/lib/task/sfGuardPromoteSuperAdminTask.class.php
/plugins/sfDoctrineGuardPlugin/lib/form/doctrine/sfGuardRegisterForm.class.php
/plugins/sfDoctrineGuardPlugin/lib/sfGuardRememberMeFilter.class.php
/plugins/sfDoctrineGuardPlugin/lib/form/sfGuardRequestForgotPasswordForm.class.php
/plugins/sfDoctrineGuardPlugin/lib/routing/sfGuardRouting.class.php
/plugins/sfDoctrineGuardPlugin/lib/user/sfGuardSecurityUser.class.php
/plugins/sfDoctrineGuardPlugin/lib/form/doctrine/sfGuardUserAdminForm.class.php
/plugins/sfDoctrineGuardPlugin/modules/sfGuardUser/lib/sfGuardUserGeneratorConfiguration.class.php
/plugins/sfDoctrineGuardPlugin/modules/sfGuardUser/lib/sfGuardUserGeneratorHelper.class.php
/plugins/sfDoctrineGuardPlugin/lib/validator/sfGuardValidatorUser.class.php
/plugins/sfDoctrineGuardPlugin/lib/validator/sfGuardValidatorUsernameOrEmail.class.php
/plugins/sfDoctrineGuardPlugin/test/unit/validator/sfGuardValidatorUserTest.php
/plugins/sfDoctrineGuardPlugin/modules/sfGuardAuth/templates/signinSuccess.php
/web/css/style.css
/web/css/style.css.map
/web/js/lib/wow.min.js
