$primary-color: #0d374a; /**background-color*/
$secondary-color: #ddd;
$tertiary-color: #32bdfc;
$quaternary-color: #444;
$quintenary-color: #f1f1f1;
$color-very-dark: #212121;
$color-white: #fff;
$page-container-width: 100%;
$sidebar-width: 250px;
$sidebar-tablet-width:60px;
$sidebar-mobile-width: 100%;
$color-light: #dddddd;
$sidebar-min-height:1080px;
$color-one: #BC6C35;
$baseBorderRadius: 0;